body{
    background-color: aquamarine;
    color:aquamarine;
    <link rel="stylesheet" href="style.css">
    font-family: sans-serif;
    margin:0px;
}
header {border-bottom: solidpx red;
padding: 10px;
font-size: 32px;
color: aquamarine;
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}







