body{
    background-color: aquamarine;
    color:aquamarine;
    font-family: sans-serif;
    margin:0px;
}
header {border-bottom: solidpx red;
padding: 10px;
font-size: 32px;
color: aquamarine;
}








